* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: clamp(.5rem, 2vw, 1rem); 
}

/* MENU BURGUER */
.logo {
    width: 40px;
    display: block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
}

#nav a:hover {
    color: #0061fe;
    border-bottom: 1px solid #0061fe;
    transition: .33s;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

#nav , a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.5s;
}

#nav , li {
    list-style: none;
    align-items: center;
}
/* -----------------------------DARK-MODE----------------------------- */
#mode-toggle {
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
    cursor: pointer;
    border: none;
    transition: 0.33s;
}
/* #mode-toggle:hover {
    background-color: #0061fe;
    color: white;
} */

.light-mode {
    /* color: #000; */
}

.dark-mode   {
    background-color: #01152f;
    color: #fff;
}
  
/* ----------------------------SECTION-ONE---------------------------- */
.section-one{
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.intro{
    /* background: -webkit-linear-gradient(#eee, rgb(204, 125, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.3rem;
    width: min(500px , 100%);
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}

/* -----------------------------SECTION2----------------------------- */
.langueg {
    width: min(50%);
    object-fit: fill;
}
.section-two {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 40px;
    position: relative;
    margin: 30px 50px;
    border: 1px solid #0061fe;
    border-radius: 10px;
}
.div-services-text {
    width: min(463px , 100%);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius:10px ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
}
.div-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}
.div-boxes img {
    width: 100%;
    /* background-color: white; */
}

.box {
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: .03s;
}

.box p {
    display: none; 
}
.box img {
    width: min(150px , 100%);
    aspect-ratio: 3/4;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
#myButton {
    padding: 8px 13px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
    width: 100%;
    transition: 0.33s;
    background-color: white;
}
#myButton:hover {
    background-color: #0061fe;
    color: white;
}

/* -----------------------------SECTION3----------------------------- */
.section-three{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 40px;
    margin: 30px 50px;
    border-radius: 10px;
    border: 1px solid #0061fe;

}
.div-project-text {
    width: min(400px , 100%);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius:10px ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
}

.projects:hover> :not(:hover) {
    opacity: .4;
   
}

.card:hover {
    border-bottom: 1px solid #0061fe;
    border-left: 1px solid #0061fe;
}

.projects img {
  object-fit: fill;
  filter: grayscale(1);
  width: 100%;
}

.projects img {
    filter: none;
}

.projects {
    /* display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-first-row , .project-second-row {
    display: flex;
    gap: 1rem;
}
.project-first-row >div {
     min-height: 200px;
    overflow: hidden;
    text-align: center;
    flex: 1;
    border-radius: .5rem;
    transition: all .33s cubic-bezier(.20, .4, .30, 1.4);
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
}
.project-second-row >div {
     min-height: 200px;
    overflow: hidden;
    text-align: center;
    flex: 1;
    border-radius: .5rem;
    transition: all .33s cubic-bezier(.20, .4, .30, 1.4);
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
}
.project-first-row >div:hover {
    flex: 2 ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
    border-bottom: 1px solid #0061fe ;
    border-left: 1px solid #0061fe ;

}
.project-second-row >div:hover {
    flex: 2 ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
    border-bottom: 1px solid #0061fe ;
    border-left: 1px solid #0061fe ;

}
.card p {
    padding: 5px;
}

/* -------------------------------FOOTER------------------------------- */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 40px;
    border-radius: 10px;
    border: 1px solid #0061fe;
    margin: 30px 50px;

}
.footer a:hover {
    text-decoration: underline;  
    color: #0061fe;

}
.div-footer-text {
    width: min(500px , 100%);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius:10px ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
   
}
.github img {
    width: 25px;
}

.social-icon {
    width: 30px;
    color: #0061fe;
}
.div-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contacts {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: min(300px , 90%) ;
    box-shadow: 0px 1px 2px rgb(148, 148, 148);
}

.phone-icon {
    width: 20px;
}
.email-icon {
    width: 40px;
    height: 30px;
}

.up  {
    border-radius: 5px;
    transition: 0.5s;
    padding: 3px ;
}
.up img {
    width: 30px;
}
.up:hover {
    background-color:#0061fe ;
}

@media screen and (max-width:820px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .navigation , .logo {
        width: 40px;
        display: block;
        z-index: 3;
    }
   
    #navigation {
        justify-content: space-between;
        align-items: center;
    }
    #menu {
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
        z-index:100;
    }
    .bar {
        height: 5px;
        width: 100%;
        background-color: #0061fe;
        display: block;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
        z-index: 100;
    }
    #bar1 {
        transform: translateY(-4px);
    }
    #bar3 {
        transform: translateY(4px);
    }
    
    .nav ,li , a {
        color: black;
        text-decoration: none;
    }
    
    .nav  li {
        list-style: none;
        padding: 16px 0;
    }
    .nav  ul {
        padding: 0;
        margin: 0 20px;
        transition: .5s ease;
        display: none;
    }
    .icon  #bar {
        transition: .3s ;
    }
    
    .icon   #bar1 {
        transform: translateY(4px) rotate(-45deg);
    }
    
    .icon  #bar3 {
        transform: translateY(-6px) rotate(-45deg);
    }
    .icon  #bar2{
        opacity: 0;
    }
    #nav , .nav{
        display: flex;
        align-items: center ;
        position: absolute;
        top: -40px;
        left: 0;
        gap: 0;
    }
    
    .change {
        background-color: #E5E5E5;
        min-height: 100vh;
        margin: 0;
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 0px;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: initial;
    }
    /* SECTION6ONE */
    .section-one {
        margin: 0;
    }
    /* SECTION-TWO */
   .section-two {
        width: 100%;
        padding: 20px;
        gap: 15px;
        margin: 10px 0;

   }
    /* SECTION-THREE */
   .section-three {
    width: 100%;
    padding: 20px;
    gap: 10px;
    margin: 10px 0;
   }
   .projects .project-first-row , .project-second-row {
    display: grid;
    grid-template-columns: auto ;
    gap: 1rem;
   }
   .middle img {
    margin-top: 0; 
   }

   .div-project {
    width: 100%;
   }
    /* FOOTER */
    .footer {
        padding: 20px;
        margin: 10px 0;
    }
   .footer, .div-contact {
    width: 100%;
   }
   .contacts {
    width: 100%;
   }
   .email {
    width: 100%;
   }
}